$ cat .gitignore

# Can ignore specific files
.settings.xml
.monitor
public/css/main.css
public/js/client.css
public/js/client.min.css
sessions.db
.DS_Store

# Use wildcards as well
*~
#*.swp

# Can also ignore all directories and files in a directory.
node_modules
node_modules/**/*
dist
dist/**/*