body {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ccc));
  background: -webkit-linear-gradient(top, #fff 0%, #ccc 100%);
  background: -moz-linear-gradient(top, #fff 0%, #ccc 100%);
  background: -o-linear-gradient(top, #fff 0%, #ccc 100%);
  background: -ms-linear-gradient(top, #fff 0%, #ccc 100%);
  background: linear-gradient(top, #fff 0%, #ccc 100%);
}
